* {
  box-sizing: content-box;
  margin: 0;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url("assets/img/bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#gameBox {
  background-image: url("assets/img/ui/border.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 760px; /* Set width according to border image */
  height: 530px; /* Set height according to border image */
  position: relative;
}

h1 {
  padding-bottom: 2rem;
  font-family: "OldLondon", serif;
  font-size: 65px;
  color: black;
}

canvas {
  background-color: white;
  display: block;
  border-radius: 15px;
}

@font-face {
  font-family: "OldLondon";
  src: url("assets/fonts/OldLondon.ttf") format("truetype");
}

@font-face {
  font-family: "OldLondonA";
  src: url("assets/fonts/OldLondonAlternate.ttf") format("truetype");
}
