* {
  box-sizing: content-box;
  margin: 0;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url("assets/img/bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#gameBox {
  background-image: url("assets/img/ui/border.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 760px; /* Set width according to border image */
  height: 530px; /* Set height according to border image */
  position: relative;
}

h1 {
  padding-bottom: 2rem;
  font-family: "OldLondon", serif;
  font-size: 65px;
  color: black;
}

canvas {
  position: relative;
  background-color: black;
  display: block;
  border-radius: 15px;
}

#muteButton {
  position: absolute;
  bottom: 25px;
  left: 35px;
  width: 50px;
  height: 50px;
  cursor: pointer;
  z-index: 10;
}

#touchControls {
  display: none;
}

#btnRight {
  width: 33px;
  height: 33px;
}

#btnLeft {
  width: 35px;
  height: 35px;
}

#btnJump {
  width: 35px;
  height: 35px;
}

#btnThrow {
  width: 35px;
  height: 35px;
}

@media only screen and (max-width: 720px) {
  #gameBox {
    width: 100% !important;
    height: 100vh !important;
  }
  canvas {
    width: 100% !important;
    height: 100vh !important;
    z-index: 10;
  }

  #gameTitle {
    display: none;
  }

  #touchControls {
    display: flex;
  }
}

@media only screen and (max-height: 480px) {
  #gameBox {
    height: 100vh !important;
    width: 100% !important;
  }
  canvas {
    height: 100vh !important;
    width: 100% !important;
  }

  #gameTitle {
    display: none;
  }

  #touchControls {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    bottom: 15px;
    left: 35px;
    z-index: 10;
  }

  #panel1 {
    display: flex;
    background: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    gap: 20px;
    border-radius: 15px;
  }

  #panel2 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 15px;
  }

  #muteButton {
    top: 10px;
    left: 48%;
    z-index: 10;
    width: 15px;
    height: 15px;
  }

  #muteIcon {
    z-index: 10;
    width: 25px;
    height: 25px;
  }
}

.imprint {
  font-family: serif;
  height: 100vh;
  background-color: white;
  padding: 0px 20px;

  .im-h1 {
    text-align: center;
    padding-bottom: 10px;
    font-family: serif;
  }
}

.back-button {
  position: absolute; /* Ermöglicht die Positionierung oben links */
  top: 10px;
  right: 10px;
  padding: 10px 20px;
  background-color: #f0f0f0;
  color: #333;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
}

.back-button:hover {
  background-color: #e0e0e0;
}
@font-face {
  font-family: "OldLondon";
  src: url("assets/fonts/OldLondon.ttf") format("truetype");
}

@font-face {
  font-family: "OldLondonA";
  src: url("assets/fonts/OldLondonAlternate.ttf") format("truetype");
}
