* {
  box-sizing: content-box;
  margin: 0;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url("assets/img/bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#gameBox {
  background-image: url("assets/img/ui/border.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 760px; /* Set width according to border image */
  height: 530px; /* Set height according to border image */
  position: relative;
}

h1 {
  padding-bottom: 2rem;
  font-family: "OldLondon", serif;
  font-size: 65px;
  color: black;
}

canvas {
  position: relative;
  background-color: black;
  display: block;
  border-radius: 15px;
}

#muteButton {
  position: absolute;
  bottom: 25px;
  left: 35px;
  width: 50px;
  height: 50px;
  cursor: pointer;
  z-index: 10;
}

@media only screen and (max-width: 720px) {
  #gameBox {
    width: 100%;
  }
  canvas {
    width: 100%;
    z-index: 10;
  }

  h1 {
    display: none;
  }
}

@media only screen and (max-height: 480px) {
  #gameBox {
    height: 100vh;
    width: 100%;
  }
  canvas {
    height: 100vh;
    width: 100%;
    z-index: 10;
  }

  h1 {
    display: none;
  }
}

@font-face {
  font-family: "OldLondon";
  src: url("assets/fonts/OldLondon.ttf") format("truetype");
}

@font-face {
  font-family: "OldLondonA";
  src: url("assets/fonts/OldLondonAlternate.ttf") format("truetype");
}
